.formBox {
    padding: 30px;
    border-radius: 30px;
    margin: 0 auto;
    background: linear-gradient(145deg, #ececec, #ffffff);
    box-shadow: 28px 28px 45px #e6e6e6, -28px -28px 45px #ffffff;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
    width: 70%;
}

.text-danger {
    font-size: small;
}

.btn-left {
    margin-left: 80%;
}

.errorMsg {
    font-size: 25px;
    text-align: center;
    color: #cf4444;
    font-family: 'Poppins', sans-serif;

}